* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.doc {
    width: 19vw !important ;
    padding-right: 30px;
    margin-right: 5rem !important;
}
#main-doc{
    width: 80vw;
    margin: auto 20px;
    margin-left: 20px !important;
}
.cont {
    display: flex;
    flex-direction: row;
}
#ref{
    border-bottom: none !important;
}
.nav-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px 14px 20px;
    margin: 15px 0px ;
    white-space:nowrap;
    border-bottom: 1px solid;
}
a:active {
    color: none !important;
}
.jsd { 
    padding: 1rem 0 0px 1rem;
    margin: 0 0 0 0rem; 
    white-space: nowrap;
    display: inline;
    position: fixed;
    top: 0
}
.intro {
    border-top: 1px solid black;
    padding-top: 19px;
}
#intro {
    padding-top: 2rem;
    padding-bottom: 0 !important;
}
.nav_link {
    height: 90vh;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
}
header {
    font-size: x-large;
    padding: 4px 0;
    font-weight: 500;
}
p{ 
    padding: 1rem 1rem 0 1rem;
}
.space {
    padding-bottom: 1rem !important; 
}

ul {
    list-style-position: inside;
}
li {
    padding: 1rem 0 1rem 2rem;
}
li:nth-of-type(2){
    padding-top: 0;
}
.nspace {
    padding-top: 0%;
}
.x {
    padding-top: 0%;
}

a .nav-link:visited {
    color: none;
}
code {
    background-color: rgb(243, 237, 237);
    margin: 2rem;
    display: block;
    text-align: left;
    white-space: pre-wrap;
    line-height: 2;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}


@media (max-width: 815px) {
    .cont {
        display: flex;
        flex-direction: column;
    }
    .doc {
        min-width: 90vw ;
        height: 20% ;
    }
    #main-doc{
        width: 90vw;
    }
    .jsd { 
        padding: 15px 0 15px 0;
        margin: 0 auto 0 auto; 
        white-space: normal;
        display: block;
        position: relative;
        text-align: center;
        width
    }

    .nav_link {
        height: 35vh;
        min-width: 97vw;
        display: block;
        overflow-y: scroll;
        position: relative;
        bottom: 0;
        border: 2px solid;
        margin-top: inherit;
        
    }
    .intro {
        border-top: none;
        padding-top: 0px;
    }
    #ref {
        padding-bottom: 0;
    }

}